APP_ENV=development
APP_DEBUG=true

DB_NAME=test
MONGODB_URI=mongodb+srv://saharharb363_db_user:Q0b4V2ZjzypwfzqR@ecommerce.pqxavhy.mongodb.net/

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=